/* -- body.less	----------------------------------------------- */

	/*	author: team half cut	*/
	/*	project: sussex interpreting services	*/
	/*	start date: 22/10/2011	*/
	
	/*	please comment any modifications with your name and the date modified.	*/		

/* -------------------------------------------------------------- */


/* -- homepage welcome note ----------------------------------------------- */

.region-home-page-welcome {
	padding: 2em 0;
	background: url("@{base-url}/02body/bdrSection.png") top left repeat-x;
  
  h2 {
  	font-family: @headlineFont;
  	text-align: center;
  }
  
  p {
  	text-align: center;
  }
}

/* -------------------------------------------------------------- */


/* -- homepage blockquote ----------------------------------------------- */

.region-home-page-testamonial {
	background: url("@{base-url}/02body/bdrSection.png") top left repeat-x;
  padding: 1.5em 0em 0 2em;
  
  blockquote {
		background: url("@{base-url}/02body/quoteMarkLeft.png") top left no-repeat;
		border: none;
		margin: 0;
		padding: 1em 1em 0.5em 1em;
		
		p {
			background: url("@{base-url}/02body/quoteMarkRight.png") bottom right no-repeat;
			font-weight: normal;
			text-align: center;
			.textShadowIndentLight;
			color: @secondaryColor;
			margin: 0;
			padding: 1em 3.5em;
		}  
  }
  
  	  p {
	  	text-align: center;
	  
		   cite {
		  	font-weight: bold;
		  	font-size: 80%;
		  	text-align: center;
		  	color: @primaryColor;

		  }
	  }  
}

/* -------------------------------------------------------------- */


/* -- aside left ----------------------------------------------- */

aside.main-sidebar {

	h2 {
		text-transform: capitalize;
		color: @secondaryColorDark;
	}
	
	.menu-block-wrapper {
		margin: 0 0 3.5em 0;
	}
}

/* -------------------------------------------------------------- */


/* -- sidemenu ----------------------------------------------- */

.main-sidebar {

	.region-sidebar-first {
	
		h2 {
			background: url("@{base-url}/02body/bdrSection.png") bottom left repeat-x;
			padding: 0 0 0.6em 0;
		}
		
		ul.menu {
			margin: 0;
		
			li {
				font-size: 150%;
				background: url("@{base-url}/02body/iconArrow.png") left 4px no-repeat;
				margin: 0 0 0.5em 0;				
				padding: 0 0 0 1.45em;
				
				a {
					margin-bottom: 0.5em;
				}

				ul {
					margin: 0.75em 0 1em 0;
					
					li {
						font-size: 100%;
						margin: 0;					
						background: url("@{base-url}/02body/iconArrow.png") left 10px no-repeat;
					}
				}
			}		
		}	
	}
}

ul li.leaf, ul li.expanded, ul li.collapsed {
	list-style-image: none;
	list-style-type: none;
}

/* -------------------------------------------------------------- */


/* -- user login form ----------------------------------------------- */

#user-login-form {
	margin: 0 0 3.5em 0;
	
	input#edit-name, input#edit-pass {
		width: 80%;
	}
}

/* -------------------------------------------------------------- */


/* -- calendar ----------------------------------------------- */

/* -- mini cal -- */
.view-events-calendar {

	.view-header {
	
		.date-nav-wrapper {
		
			.date-heading {
				text-align: left;
			}
		
			.date-nav {
			
				.date-prev {
					position: absolute;
					right: 30px;
					top: 5px;
					min-height: 20px;
					
					span {
						a {
							font-size: 100%;
							padding-bottom: 0.5em;
							padding-right: 0.25em;
							&:hover {
								color: @secondaryColor;
								background: none;
							}
						}
					}
				}
				
				.date-next {
					position: absolute;
					right: 0px;
					top: 5px;
					min-height: 20px;
					
					span {
						a {
							font-size: 100%;
							padding-bottom: 0.5em;
							padding-right: 0.25em;
							margin-right: 0.4em;
							&:hover {
								color: @secondaryColor;
								background: none;
							}
						}
					}
				}
			}		
		}
	}
}

div.calendar-calendar div.month-view table.mini tr th {
	font-size: 120%;
}

table tbody tr div.month {
	font-size: 120%;
}
.calendar-calendar .mini-day-off {
	padding: 3px 0;
}
.calendar-calendar tbody {
	padding: 5px;
}
aside .view-events-calendar .view-header .date-nav-wrapper .date-nav .date-prev, aside .view-events-calendar .view-header .date-nav-wrapper .date-nav .date-next {
	margin: 0;
	margin-top: 1em;
}

/* -------------- */

/* -- large cal -- */

div.date-nav-wrapper .date-nav {
	clear: none;
	padding-bottom: 0.5em;
}
div.date-nav-wrapper.clearfix {
	content: inherit;
	display: inline;
	clear: none;
}

.view-events-calendar {

	.view-header {
	
		ul.calendar-links {
		
			li.calendar {
			
				a {
					text-decoration: none;
					background: @baseColor;
					.roundedCorners;
					margin: 0 0.25em 0 0;
					padding: 0.5em;
					&:hover {
						background: @primaryColor;
					}
				}			
			}
		}
	}
}

.view-events-calendar {

.view-header {

		.date-nav-wrapper {
										
			.date-nav {
				
				.date-prev {
					background: none;
					margin-top: 2em;
					margin-right: 4em;
					
					span.prev {
					
						a {
							font-weight: bold;
							.roundedCorners;
							background: @baseColor;
							padding: 0.5em 0.75em;
							&:hover {
								color: @baseColorLight;
								background: @primaryColor;
							}
						}
					}
				}
				
				.date-heading {
					text-align: left;
					margin-top: 1.2em;
				}
				
				.date-next {
					background: none;
					margin-top: 2em;
					margin-right: 0;
					
					a {
						font-weight: bold;
						.roundedCorners;
						background: @baseColor;
						margin-left: 2em;
						padding: 0.5em 0.75em;
						&:hover {
							color: @baseColorLight;
							background: @primaryColor;
						}
					}					
				}
			}
		}
	}
}

.view-events-calendar .view-header .date-nav-wrapper .date-nav .date-prev span.prev a {
	color: @secondaryColorDark;
	font-weight: bold;
	.roundedCorners;
	background: @baseColor;
	margin-left: 2em;
	padding: 0.5em 0.75em;
	&:hover {
		color: @baseColorLight;
		background: @primaryColor;
	}
}

.view-events-calendar .view-header .date-nav-wrapper .date-nav .date-next span.next a {
	color: @secondaryColorDark;
	font-weight: bold;
	.roundedCorners;
	background: @baseColor;
	margin-left: 2em;
	padding: 0.5em 0.75em;
	&:hover {
		color: @baseColorLight;
		background: @primaryColor;
	}
}

.view .date-nav-wrapper .date-heading {
	width: 50%;
	margin-bottom: 1.2em;
}

.calendar-calendar .month-view .full td.multi-day div.monthview, .calendar-calendar .week-view .full td.multi-day div.weekview, .calendar-calendar .day-view .full td.multi-day div.dayview {
	color: @primaryColorDark;
	background: @primaryColorLight;
	height: 3em;
}

.calendar-calendar .month-view .full .inner .monthview, .calendar-calendar .week-view .full .inner .weekview, .calendar-calendar .day-view .full .inner .dayview {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	-o-border-radius: none;
	border-radius: none;
}

td.multi-day .inner .item .view-item .calendar a {
	font-size: 100%;
	&:hover {
		color: @primaryColorDark;
	}
}

.calendar-calendar .month-view .full td.multi-day .inner .monthview .continues, .calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff, .calendar-calendar .week-view .full td.multi-day .inner .weekview .continues, .calendar-calendar .week-view .full td.multi-day .inner .weekview .cutoff {
	background: none;
}

/* -------------- */


/* -------------------------------------------------------------- */


/* -- error messages ----------------------------------------------- */

#messages {
	margin: 1em 0;

	.messages {
		.roundedCorners;
		background-position: 8px 6px;
		padding: 15px 15px 15px 45px;
	}
	
	.error {
		background-position: 10px 10px;	
	}
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
	font-size: 100%;
	border: 1px solid red;
}

/* -------------------------------------------------------------- */


/* -- search results ----------------------------------------------- */

ol.search-results {
	list-style: decimal;
	
	.search-snippet-info {
		padding: 0;
	}
}

#search-form input#edit-submit {
	margin: 1em 0 1em 0;
}



/* -------------------------------------------------------------- */


/* -- blogs ----------------------------------------------- */

.node-blog ul.inline li {
	display: block;
}

/* -------------------------------------------------------------- */


/* -- contact form ----------------------------------------------- */

#contact-site-form .form-textarea-wrapper textarea {
	width: 93%;
}

input#edit-subject.form-text.required, input#edit-mail.form-text.required, input#edit-name.form-text.required {
	width: 90%;
}

/* -------------------------------------------------------------- */


/* -- pagination ----------------------------------------------- */

ul.pager li a:hover {
	text-decoration: none;
	background: @primaryColorLight;
}

/* -------------------------------------------------------------- */


